@using System.ServiceModel.Security
@using FlashCardApp.Core.Entities
@using FlashCardApp.Web
@model System.Collections.Generic.List<FlashCardApp.Web.Models.FlashCardSet>

@{
    
    ViewBag.Title = "User Sets";
    Layout = "../Shared/_BootstrapLayout.basic.cshtml";
}



    
    @if (!ViewBag.UserIsLoggedIn)
    {
        using (Html.BeginForm("Index", "Home"))
        {
            <div>
                User Name:@Html.TextBox("userName")

                Password:@Html.TextBox("password")
                <input type="submit" value="submit" />
            </div>
        }

    }
    
    @if (Model != null)
    {
        foreach (var set in Model)
        {
            <div class="focused">
                @Html.ActionLink(set.SetName, "DisplaySet", new{setID = set.ID})
                 @Html.ActionLink(set.SetName, "StudySet", new{setID = set.ID})
            </div>
        }
    }

