@using FlashCardApp.Web
@model List<CloudFlashCardSet>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    @foreach (CloudFlashCardSet set in Model)
    {
        <div> @set.SetName </div>
    }
    </div>
</body>
</html>
